export LOGURU_DEBUG_COLOR="<blue>"
export LOGURU_ERROR_COLOR="<fg #780606>"
export LOGURU_SUCCESS_ICON="🎉"
export LOGURU_ERROR_ICON="⛓️‍💥"
export DEBUG_MODE=false
export LOGFIRE_TOKEN=YQt6kVbCkfzScy8JcK4sRtHs2rnrRcs3KVmrC2SySDbb